{% set observium = salt['pillar.get']('observium', {
    "dbuser": 'observer',
    "dbname": 'observium',
    "ldap":   'False',
    "auth_ldap_prefix": "uid=",
    "auth_ldap_suffix": "cn=users,cn=acount,dc=example,dc=org",
    'auth_ldap_prefix': "uid=",
    'auth_ldap_suffix': ",ou=People,dc=example,dc=com",
    'auth_ldap_group':  ["cn=observium,ou=groups,dc=example,dc=com",],
    'auth_ldap_groupbase': "ou=groups,dc=example,dc=com",
    'auth_ldap_binddn': "",
    'auth_ldap_bindpw': "",
    'auth_ldap_bindanonymous': False,
    'auth_ldap_objectclass': "",
    'auth_ldap_recursive':  TRUE,
    'auth_ldap_recursive_maxdepth': 3,

                                      
    $auth_ldap_attr_uid = "sAMAccountName";
    $auth_ldap_attr_uidNumber'] = "objectSid";
 $auth_ldap_attr']['cn'] = "name";
 $auth_ldap_attr']['dn'] = "distinguishedname";
 $auth_ldap_objectclass'] = "person";

 $auth_ldap_version'] = 3;
 $auth_ldap_server'] = "domaincontroller.example.com";
 $auth_ldap_port']   = 389;
 $auth_ldap_starttls'] = TRUE;

 $auth_ldap_prefix'] = "CN=";
 $auth_ldap_suffix'] = ",CN=Users,DC=ad,DC=example,DC=com";
 $auth_ldap_group']  = array("CN=Observium Users,OU=Groups,DC=ad,DC=example,DC=com");
 $auth_ldap_groupbase'] = "OU=Groups,DC=ad,DC=example,DC=com";

 $auth_ldap_groupmembertype'] = "fulldn";
 $auth_ldap_groupmemberattr'] = "member";

 $auth_ldap_groups']['CN=Observium Admins,OU=Groups,DC=example,DC=COM']['level'] = 10;
 $auth_ldap_groups']['CN=Observium Users,OU=Groups,DC=example,DC=COM']['level'] = 1;
    
    }, merge=True)  -%}
